<app-headbar></app-headbar>
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <br>
      <h1 class="title pacifico large-text">
        Registrar Endereço
      </h1>
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <form>
            <p class="control">
              <input class="input is-medium" style="margin-top: 5px" type="text" name="Nome" [(ngModel)]="enderecoData.rua" placeholder="Rua">
            </p>

            <p class="control">
              <input class="input is-medium" style="margin-top: 10px" type="text" name="Descricao" [(ngModel)]="enderecoData.numero" placeholder="Número">
            </p>

            <p class="control">
              <input class="input is-medium" style="margin-top: 10px" type="text" name="Descricao" [(ngModel)]="enderecoData.bairro" placeholder="Bairro">
            </p>

            <div class="columns">
              <div class="column">
                <button [routerLink]="['/pessoa']" style="margin-top: 10px; float: left!important; margin-left: 0px;" class="button is-dark is-inverted is-outlined is-fullwidth">Voltar</button>
              </div>
              <div class="column">
                <button type="submit" style="margin-top: 10px" class="button is-dark is-inverted is-outlined is-fullwidth">Salvar</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>