<section class="hero is-dark is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a href="/pessoaList" class="navbar-item pacifico medium-text">
              TESTE PRÁTICO
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a href="/pessoa" class="navbar-item is-active">
             PESSOA
            </a>
            <a href="enderecoList" class="navbar-item">
             ENDEREÇO
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>

<!-- <section class="hero is-primary is-medium slideInDown">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item pacifico medium-text">
            TESTE PRÁTICO
          </a>
        </div>
        <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
        </span>
        <app-sub-menu></app-sub-menu>
      </div>
    </header>
  </div>
</section> -->