<app-headbar></app-headbar>
<section class="section">
  <div class="container">
    <div class="heading animated fadeIn">
      <h1 class="title">PESSOAS</h1>
      <h2 class="subtitle">
        RELATÓRIOS
      </h2>
      <!-- <app-product-list></app-product-list> -->
    </div>
  </div>
</section>
<app-footer></app-footer>